.App {
  text-align: center;
}

h3 {
  font-weight: 1;
}

.box {
  width: 55px;
  border: 2px solid black;
  height: 55px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

.number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  padding: 20px 20px;
}

.selected-box {
  background-color: #f5f55b;
  transform: scale(1.1);
}

.mid-index {
  background-color: #ff1e00;
}

.answer {
  background-color: #8cee03;
  transform: scale(1.2);
}

.actions-container {
  display: flex;
  justify-content: center;
}

.outer-box {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 5px;
  padding: 10px;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.generate-new-array-button {
  height: 33px;
  margin: auto;
}

.analysis-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid blue;
}

.inside-analysis-box {
  display: flex;
}

.selected-div {
  width: 40px;

  height: 40px;

  margin: 0px 10px;
}

.detail {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  padding: 0px 10px;

  justify-content: left;

  display: flex;

  flex-direction: column;
}

.detail-div {
  display: flex;
  margin: 10px 0px;
}

.detail-heading {
  margin: auto;
}

/* SORTING */
.sorting-container {
  display: flex;

  justify-content: center;
}

.sorting-visualisation-area {
  display: flex;
  margin: 5px
}

.sorting-bar {
  background: blue;

  height: 40px;

  width: 5px;

  margin: 0.5px;
}
